<h1>Data Maintenance</h1>

<div id="maint-wrap">
<div id="maint-row"></div>	
<div id="maint-left">
<h2>Scorecard</h2>
          <ol>          
            <li>
              <a href="/perspectives">Perspectives</a>
            </li>
            
            <li>
              <a href="/targets">Targets (belonging to a perspective)</a>
            </li>

            <li>
              <a href="/kpis">KPIs (belonging to a target)</a>
            </li>

            <li>
              <a href="/kpitargets">KPI target values</a>
            </li>

            <li>
              <a href="/achievements">KPI achievements / measured values</a>
            </li>
          </ol>
  </div>
<div id="maint-right">
<h2>Admin</h2>
<ol>
	<li>
	  <p><a href="/users">User Administration</a></p>
	</li>
	<li>
	  <p><a href="/roles">Roles Administration</a></p>
	</li>
	<li>
	  <p><a href="/rights">Rights Administration</a></p>
	</li>
</ol>
</div>
</div>
</div>