<div id="pagecontent">

<h1>Report</h1>

<% form_remote_for :entry_variables, @entry_variables, 
         :url=>{:controller=>"report", :action=>"show_report"},            
         :update => {:success => "show_report"}, :html => { :multipart => true } do |f| %>
<table>
<tr>
<td class="text"><label for="report_date">Report date:</label></td><td><%= f.text_field :report_date, :size => 10, :value => @entry_variables[:report_date].to_s %></td>
</tr>
</table>
<%= submit_tag "Go" %>

<% end %>

<div id="report">
<%= render(:partial => "show_report", :object => @perspectives) %>
</div>




</div>
